<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="~{base :: layout(~{::title}, ~{:: section})}">
<head>
<meta charset="ISO-8859-1">
<title>Edit Employee Page</title>
</head>
<body>
	<section>
		<div class="container p-5">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center">
							<p class="fs-4">Edit Project </p>
						</div>
						<th:block th:if="${session.message}">
							<p class="text-center text-success fs-2">[[${session.message}]]</p>
							<th:block th:text="${@projectServiceImp.removeSessionMessage()}"></th:block>
						</th:block>
						<div class="card-body">
							<form action="/updateProject"  method="post"> 
								<input type="hidden" name="id" th:value="${projectDetails.id}">
								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Project Name</label>
									<input type="text" class="form-control" id="exampleInputEmail1" name="name" th:value="${projectDetails.name}"
										aria-describedby="emailHelp">
								</div>
								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Project Manager</label>
									<input type="text" class="form-control" id="exampleInputPassword1" name="manager" th:value="${projectDetails.manager}">
								</div>
								<div class="form-floating">
									<textarea class="form-control" placeholder="Leave a comment here" name="description" 
										id="floatingTextarea" cols="19" row="" th:utext="${projectDetails.description}"></textarea>
									<label for="floatingTextarea" >Description.....</label>
								</div>
								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Start Date</label>
									<input type="date" class="form-control" id="exampleInputPassword1" name="startDate" th:value="${projectDetails.startDate}">
								</div>
								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">End Date</label>
									<input type="date" class="form-control" id="exampleInputPassword1" name="endDate" th:value="${projectDetails.endDate}">
								</div>
								<button type="submit" class="btn btn-primary">Submit</button>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
</body>
</html>